/iso
# GCE keys
AppVeyor_CI-*.json
*.env

*.log
packer_cache/
*.exe
appveyor-tools/
.DS_Store
packer-manifest.*
*.pem
output-hyperv-iso/
minimal-windows-server-custom.json
scripts/Windows/custom-scripts/*.ps1
scripts/Ubuntu/custom-scripts/*.sh
